.home{
    background-color: rgb(240, 238, 238);
    
}
.home img{
    height: 200px;
    border-radius: 10px;
}
.text-section{
    border: 1px solid gainsboro;
    background-color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    border-radius: 10px;
}
.text{
    margin-left: 80px;
}
.rafat{
    display: flex;
    margin-left: 20px;
}